.head {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ECECEC;
}

.header__container {
  display: flex;
      justify-content: space-between;
}
.head__menu-button {
      border: 0;
      margin: 0;
      padding: 0;
      background-color: transparent;
      transition-property: fill;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      &:hover, &:focus {
        fill: var(--hover_text_color);
      }
}
.web-logo {
  color: var(--hover_text_color);
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.head__studio-logo {
  color: var(--primary_text_color);
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
@media screen and (max-width: 767px) {
  .site-nav {
    display: none;
  }
  .phone-mail {
    display: none;
  }
  
}
@media screen and (min-width: 768px) {
  .head__block {
    display: flex;
          align-items: center;
  }
  .site-nav {
    display: flex;
    gap: 50px;
  
  }
  .head {
    padding-top: 21px;
    padding-bottom: 21px;
  }
  .logo {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  
  
}






/* шапка */
// header {  
// border-bottom: 1px solid #ECECEC;
// }
// /* Логотип верх */
// header {
//   position: relative;
// }
// .head {
//   display: flex;
//   align-items: center;
//   height: 80px;
//   position: relative;
//   @media screen and (min-width:768px) {
//     justify-content: space-between;
    
//   }
// }
// .head__block {
//  display: flex;
//   align-items: center;
// }

// .web-logo {
//   color: var(--hover_text_color);
//   font-family: 'Raleway';
//   font-weight: 700;
//   font-size: 26px;
//   line-height: 1.19;
// }
// .head__studio-logo {
//   color: var(--primary_text_color);
//   font-family: 'Raleway';
//   font-weight: 700;
//   font-size: 26px;
//   line-height: 1.19;
// }
/* навигация шапки */



// .site-nav {
//     @media screen and (max-width: 767px) {
//   display: block;
//     position: absolute;
//    top: 100%;
//   left: 0;
//   background-color: rgba(255, 255, 255, 1);
//           height: 796px;
//           width: 100%;
//       padding-top: 48px;
//       padding-left: 40px;
      
//   }
 
//      @media screen and (min-width:768px) {
//        display: flex;
//        margin-left: auto;
//        margin-left: 87px;
       
  
//      }
//                     @media screen and (min-width:1200px) {
//                       margin-left: 92px;
//                     }
//   }

//  .head__menu-button.is-open~ div .site-nav {
//   @media screen and (max-width:767px) {
//   display: none;
//   }
//  }
// .site-nav__item  {
//   margin-bottom: 32px;
//   @media screen and (min-width:768px) {
//   margin-right: 50px;
//   margin-bottom: 0px;;
//   }
//   @media screen and (min-width:768px) {
//   padding-top: 32px;
//   padding-bottom: 32px;
//   position: relative;
// }
// }
// .site-nav__item:last-child {
// margin-right: 0px;

// }
// .phone-mail {
//   @media screen and (max-width:767px) {
//     display: block;
//       margin-left: auto;
//       position: absolute;
//       bottom: -450px;
//       left: 0px;
  
//     }
//      @media screen and (min-width:1200px){
//       display: flex;
//       &__item:first-child {
//         margin-left: 0px;
//       }
//      }
// }
// .phone-mail__block {
//     @media screen and (min-width:768px) {
//      margin-left: 40px;
//     }
//         @media screen and (min-width:1200px) {
//           &:first-child {
//             margin-left: 0px;
//           }
//         }
// }
.site-nav .site-nav__linknow {
  color: var(--hover_text_color);
  position: relative;
}

.site-nav__linknow::after {
  display: block;
  content: "";
  height: 4px;
  background-color: var(--hover_text_color);
  position: absolute;
  bottom: -40px;
  width: 100%;
  position: absolute;
  @media screen and (min-width:1200px) {
    bottom: -30px;
    
  }
 
}
.site-nav__text {
  color: var(--primary_text_color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus {
        color: var(--hover_text_color);
    }
         @media screen and (max-width:767px) {
        font-weight: 500;
        font-size: 40px;
        line-height: 1.11;
        letter-spacing: 0.02em;
         }
        @media screen and (min-width:768px) {
          font-weight: 500;
          letter-spacing: 0.02em;
        }
}
.phone-mail__item {
  display: flex;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--second_text_color);
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: 8px;
  @media screen and (max-width: 767px) {
    font-weight: 500;
      font-size: 34px;
      line-height: 1.17;
      letter-spacing: 0.02em;
          flex-direction: column;
          margin-left: 40px;
    
  }
}
.phone-mail__item .icon {
    margin-right: 8px;
}

.phone-mail .phone-mail__item:hover{
  color: var(--hover_text_color);
    
}
.phone-mail .phone-mail__item:focus {
  color: var(--hover_text_color);
}
@media screen and (max-width:1199px) {
  .phone-mail__block:first-child {
      margin-bottom: 10px;
    }
}
@media screen and (min-width: 1200px){
  .phone-mail {
    display: flex;
    align-items: center
  }
  
}

// .phone-mail .icon {
//   margin-right: 10px;
//   fill: currentColor;
//   @media screen and (max-width:767px) {
//   display: none;
  
//   }
// }


// мобильный бургер


// .head__menu-button {
//   position: absolute;
//   right: 0;
//   border: 0;
//   margin: 0;
//   padding: 0;
//   background-color: transparent;
//   transition-property: fill;
//   transition-duration: 250ms;
//   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//   &:hover, &:focus {
//     fill: var(--hover_text_color);
//   }

//     @media screen and (min-width:768px){
//       display: none;
     
//   }
  
// }
// .head__menu-button .head__menu-icon {
//   display: none;
// }
// .head__menu-button.is-open  .head__menu-icon{
//   display: block;
// }
// .head__menu-button.is-open .head__cross-icon {
//   display: none;
// }